@charset "utf-8";

body {
	font-family: 'Coda';
	padding: 0px;
	margin: 0px;
	background: #ebeeef;
}

.a-default {
	color: #333;
	text-decoration: none;
}

.a-default:hover {
    text-decoration: underline;
    cursor: pointer;
}

.a-fb {
	text-decoration: none;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
}

.a-tw {
	text-decoration: none;
}

.a-twitch {
	text-decoration: none;
}

.twitch-button-container {
	padding: 10px;
	color: #fff;
	border-radius: 5px;
	background: #9147ff;
}

.twitch-button-container:hover {
	background: #772ce8;
}

.fb-button-container {
	padding: 10px;
	color: #fff;
	border-radius: 5px;
	background: #3d6ad6;
}

.fb-button-container:hover {
	background: #1D3C78;
}

.tw-button-container {
	padding: 10px;
	color: #fff;
	border-radius: 5px;
	background: #1da1ff;
}

.tw-button-container:hover {
	background: #1a90da;
}

.loading-overlay {
	display: none;
	background: rgba( 26, 26, 26, 0.7 );
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 5;
	top: 0;
}

.loading-overlay-image-container {
	display: none;
	position: fixed;
	z-index: 7;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
}

.loading-overlay-img {
	width: 50px;
	height: 50px;
	border-radius: 5px;
}

@media screen and ( min-width: 800px ) { /* desktop */
	.pc-only {
		display: block;
	}

	.mobile-only {
		display: none;
	}
}

@media screen and ( max-width: 800px ) { /* mobile */
	.pc-only {
		display: none;
	}

	.mobile-only {
		display: block;
	}
}